node_modules/

dist/
out-tsc/

.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp


*.log
*.tmp
*.swp
*.bak
*.DS_Store
Thumbs.db
.angular

coverage/

.yarn-integrity

.tailwind-cache/

.env
.env.*.local

apps/*/node_modules/

